
@font-face {
    font-family: 'FuturaExtended';
    src: url('./FONTS/FuturaExtended.ttf');
}

@font-face {
    font-family: 'amatic';
    src: url('./FONTS/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: 'amaticB';
    src: url('./FONTS/AmaticSC-Bold.ttf');
}

/* Style accueil*/
#accueil {

}

li {
    list-style: none;
}

#accueil.h1 {

}

#accueil.p {

}

#accueil.a {

}

/* Style publication*/
#actu {

}

#actu.header {

}

#titrecatogorie {

}

#trier {

}

#actu.asside {

}

#logo {

}

#newpubli {

}

#choixcategorie {

}

.categorie {

}

.categorie.a {

}

#article {

}

#publication {

}

#article.a {

}

/* Stype pop up publication*/
#publier {
	display: none;
	position: fixed;
}

#fond_fenetre {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

#closed_cross {
    width: 3%; height: auto;
    position: absolute;
    left : 1010px;
    top : 20px;
}

#modalContainer{
    position: fixed;
    height: 80%;
    width: 70%;
    top: 75px;
    left: 380px;
    background: white;
    color: #FFBCB3;
    outline-style: solid;
    outline-color: #B1F3E3;
    outline-width: 8px;
}

#nvPub{
    font-family: amaticB;
    color: black;
    font-size: 2em;
}

#nvPub2{
    font-family: amaticB;
    color: black;
    font-size: 2em;
}

#form {

}

#titre {
    border: 1.5px solid #FFBCB3;
    border-radius: 5px;
    color: #FFBCB3;
    position: absolute;
    left: 350px;
    top: 50px;
    width: 30%;
    height: 10%
}

#select-icon{
    width: 15px;
    height: 11px;
    margin-left: -30px;

}

#publicategorie {
    border: 1.5px solid #CECECE;
    border-radius: 5px;
    position: absolute;
    left: 350px;
    top: 120px
}

#publitopic {
    border: 1.5px solid #CECECE;
    border-radius: 5px;
    position: absolute;
    left: 350px;
    top: 170px
}

#contenu {
    border: 1.5px solid #CECECE;
    border-radius: 5px;
    color: #CECECE;
    position: absolute;
    left: 80px;
    top: 200px;
    width: 78%;
    height: 60%
}

#file {
    position: absolute;
    top: 28%;
    left: 76.5%;
}

#validerpubli {
    position: absolute;
    top: 93%;
    right: 2.4%;
}

label{
    position: absolute;
    top : 28%;
    right: 25%;
}

#grayBack 
{
    /* position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     z-index: 1999;
     opacity: 0.5;*/
}

/* Style publication full screen*/
#fullpublication {

}

#titrepubli {

}

#content {

}

#publicontent {

}

#commentaire {

}

#reaction {

}