/* Style accueil*/
#accueil {

}

li {
    list-style: none;
}

#accueil.h1 {

}

#accueil.p {

}

#accueil.a {

}

/* Style publication*/
#actu {

}

#actu.header {

}

#titrecatogorie {

}

#trier {

}

#actu.asside {

}

#logo {

}

#newpubli {

}

#choixcategorie {

}

.categorie {

}

.categorie.a {

}

#article {

}

#publication {

}

#article.a {

}

/* Stype pop up publication*/
#publier {
	display: none;
	position: fixed;
}

#fond_fenetre {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

#form {

}

#titre {

}

#publicategori {

}

#publitopic {

}

#contenu {

}

#file {

}

#validerpubli {

}

#grayBack 
{
    /* position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     z-index: 1999;
     opacity: 0.5;*/
}

/* Style publication full screen*/
#fullpublication {

}

#titrepubli {

}

#content {

}

#publicontent {

}

#commentaire {

}

#reaction {

}